.form-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-image: url(../images/login2.jpg);
    background-size: 100%;
  }
  
  .register-form {
    border: 1px solid gray;
    padding: 30px;
  }